.mainSelection {
    display: grid;
    grid-template-columns: 170px 70px 190px 190px 90px;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    background-color: steelblue;
    color: white;
    width: 1000px;
    height: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.secondarySelection {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: auto;
    background-color: lightsteelblue;
    height: 300px;
    width: 1000px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.roundBorders {
    border-radius: 20px;
}

.roundTopBorders {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.scrollSection {
    display: grid;
    grid-template-columns: 125px 350px 350px;
    justify-content: center;
    height: 200px;
}

.scrollBox {
    display: grid;
    row-gap: 5px;
    background-color: white;
    height: 150px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    align-content: start;
}

.scrollLine {
    width: auto;
    display: grid;
    grid-template-columns: auto 10px;
    column-gap: 10px;
}

.scrollP{
    margin: 0 0;
    width: auto;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.chosenP{
    margin: 0 0;
    font-weight: bold;
    width: auto;
    -ms-overflow-style: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.filterButton {
    background-color: lightsteelblue;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.selectButton {
    background-color: lightsteelblue;
}

.selectButton:hover {
    background-color: #c5d8eb;
}

.generateButton {
    background-color: steelblue;
}

.generateButton:hover {
    background-color: #c5d8eb;
}

.filterBox {
    height: 12px;
    width: 12px;
}

.scrollableFilter {
    width: 80%;
    max-width: 1100px;
    min-width: 350px;
    overflow-x: auto;
    margin: 0 auto;
}