.navbar {

    color: white;
    background-color: steelblue;
    display: flex;
    flex-wrap: wrap;
    align-items: last baseline;
    justify-content: flex-start;
    row-gap: 15px;
    padding-left: 5%;
    height: auto;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}

.logoTitle {
    color: white;
    font-size: 35px;
    margin-right: 30px;
    margin-left: 22px;
    margin-bottom: 0px;
}

.navButton {

    background-color: steelblue;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    font-size: 12px;
}

.navButton:hover {
    background-color: lightsteelblue;
}