.uploadBar {
    min-width: 275px;
    max-width: 700px;
    width: 50%;
    background-color: lightsteelblue;
    display: grid;
    place-items: center;
    justify-content: center;
    border-radius: 25px;
    grid-template-columns: repeat(auto-fit, min(225px));
    grid-auto-rows: repeat(auto-fit);
    row-gap: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 150px;
}

@media (max-width: 1400px) {
    .uploadBar {
        grid-template-columns: 225px;
    }
}

.uploadSingleBar {
    width: 575px;
    max-height: 420px;
    background-color: lightsteelblue;
    display: grid;
    place-items: center;
    border-radius: 25px;
    grid-template-columns: 200px 200px 100px;
    grid-template-rows: 100px 40px 40px 40px 40px 40px 40px;
}

.submit {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
}

.submit:hover {
    background-color: #c5d8eb;
}

.writing {
    font-weight: bold;
    color: white;
}

.uploadFile {
    width: 100px;
    background-color: white;
    border: none;
    color: steelblue;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 12.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploadFile:hover {
    background-color: #c5d8eb;
}