.homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 225px auto auto auto auto 1fr;
    justify-items: center;
    height: 190vh;
    width: 100%;
    padding-top: 175px;
    background-image: url('./../image/AdmissedBackground.jpg');
    background-size: cover;
}

.title {
    color: steelblue;
    font-weight: bold;
    font-size: clamp(50px, 19vw, 100px);
}

.infoBar {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    color: white;
    width: 35%;
    max-width: 450px;
    min-width: 300px;
    height: auto;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 35px;
    margin-top: 40px;
}

.icon {
    padding-left: 0px;
    width: 100px;
    height: 100px;
}