.homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 225px 1fr;
    justify-items: center;
    height: 120vh;
    width: 100%;
    padding-top: 175px;
    background-image: url('./../../AdmissedBackground.jpg');
    background-size: cover;
}

.title {
    color: steelblue;
    font-weight: bold;
    font-size: 100px;
}