.viewTable {

    width: 1100px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;

}

.rowTable:nth-child(odd) {

    background-color: lightsteelblue;

}

.optionTable {

    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 0;
}

th, td {

    padding: 5px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

}

th {

    background-color: steelblue;
    color: white;
    text-align: left;

}

.red {
    background-color: lightcoral;
}

.viewPadder {
    padding-top: 100px;
}

.viewNA {
    display: grid;
    justify-content: center;
    margin-top: 5%;
    color: steelblue;
}

.viewInfoBar {
    display: grid;
    grid-template-columns: 345px 345px 345px;
    column-gap: 32px;
    margin: 0 auto;
    width: 1100px;
    margin-top: 75px;
}

.viewInfoCell {
    display: grid;
    grid-template-columns: 70px 230px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    color: white;
    width: 345px;
    height: 150px;
    border-radius: 20px;
}

.viewImage {
    width: 60px;
    height: 70px;
}

.viewButton {
    background-color: lightsteelblue;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.viewButton:hover {
    background-color: #c5d8eb;
}

.optionButton {
    padding: 10px 20px;
}


.sortButton {
    padding: 5px 10px;
    margin: 1px 1px;
}

.delete {
    width: 15px;
    height: 15px;
}

.delete:hover {
    width: 13px;
    height: 13px;
}

.filterText {
    border-radius: 5px;
}

.pageCount {
    width: 50px;
}