.viewTable {

    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 5%;
    
}

.rowTable:nth-child(odd) {

    background-color: lightsteelblue;

}

.optionTable {

    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 0;

}

th, td {

    padding: 5px;

}

th {

    background-color: steelblue;
    color: white;

}

.red {
    background-color: lightcoral;
}
